
li{
  list-style: none;
}
.profile{
  width: 250px;
  height: 320px;
  margin: auto;
  text-align: center;
  background-color:#e7ecf2;
  border-radius:10px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius:50px;
  margin-top: 30px;
}
.name{
  font-size: 20px;
  margin: 15px;
}
.tag{
  font-size: 15px;
  color:#FFF;
  margin: 0;
}
.location{
  font-size: 15px;
  color:#FFF;
  margin: 0;
}
.stats{
  display: flex;
  padding: 0px;
  margin-top: 45px;
}
.stats li{
  width: 80px;
  height: 70px;
background-color: #6dadec;
border: #e7ecf2 solid 2px;
border-radius:5px;
}
.label{
  font-size:13px;
  color: #FFF;
}
.quantity{
  font-size: 25px;
}